<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Vivo</th>
      <th>X80 Pro</th>
      <th>Plus 5G Specifications</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>SUMMARY</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Processor</td>
      <td>Qualcomm</td>
      <td>Snapdragon 888 Plus</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Display</td>
      <td>6.78 inches 17.22 cms</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>Storage</td>
      <td>256 GB</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>Front Camera</td>
      <td>Single 32 MP f/2.5 Wide Angle Camera</td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>Camera * 48 MP f/2.2 Wide Angle Ultra-Wide Angle Camera</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>Battery</td>
      <td>4500 mAh</td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>RAM</td>
      <td>12GB</td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>GENERAL</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>Launch Date</td>
      <td>January 19. 2022</td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>Face unlock</td>
      <td>Yes</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>Water Resistant</td>
      <td>Yes Water resistant up to 30 minutes in a depth of 1.5 meter IP68</td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>PROCESSOR</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>Chipset</td>
      <td>Qualcomm</td>
      <td>Snapdragon 888 Plus</td>
    </tr>
  </tbody>
</table>
